

<div class="card bg-light" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">Punto de entrega o safe place</h5>
    <p class="card-text">Dos modalidades, puedes conincidir o usar nuestro servicio de envios en tu ciudad, simple y módico </p>
    <img src="assets/map03.jpg" style="width:250px;border-radius:10px;margin-bottom:5px"alt="">
    <div style="display:flex;justify-content:space-between;align-items:center;width:100%">
      <a class="bg-primary text-white" style="padding:10px;border-radius:5px;">
        Obten tres envios grátis de prueba
      </a>
      <a (click)="navegar()"><i class="fas fa-chevron-circle-right" style="padding-left:10px;font-size:35px;color:#bbb"></i></a>
    </div>
  </div>
</div>
