<div class="row bottom" style="background:#29303B;">
  <div class="col-md-7" style="padding-left:40px">
    <div class="text-white"style="padding:20px;width:100%">
      <span style="font-size:36px;font-weight:600;">Una página de compras en tu ciudad</span><br>
      <span style=";margin:0px;margin:0px;color:white;font-size:21px;">Joopiter es un pequeño mundo que tiene todo lo que los demas tienen</span><br>
      <!-- <span style="margin:0px;margin:0px;color:white;font-size:15px;">Posee un procesador de pagos, un sistema de envios, un foro central, una dinámica de ventas grupales y un sistema de logros y recompensas para crear competencia!</span> -->
      <span style="margin:0px;margin:0px;color:white;font-size:15px;">Posee un método de pago, un sistema de envios, un foro central, una dinámica de ventas y un sistema de logros y recompensas para subir la demanda!</span>

      <br>
      <span class="badge badge-danger">info</span>

      <span style="color:#fff;font-size:15px">Te puedes montar una galería de imagenes, subir foto de lo que vendes y comunicarte entre un foro central...</span>

      <!-- <div style="margin-top:30px;width:100%;text-align:center;display:flex;justify-content:space-around">
          </div> -->
      <!-- <div style="padding-left:40px;margin-top:20px;;padding:10px;border-radius:10px"> -->
        <!-- <h2 class="" style="font-weight:400;">Nunca ha sido más facil comprar</h2> -->
        <!-- <h3 class="" style="">Nunca ha sido más facil comprar</h3> -->

        <!-- <span class="badge badge-danger">info</span> -->
        <!-- <h2 >Conecta con los demás</h2> -->
        <!-- <h2 >Conecta con los demás</h2> -->

        <!-- <h2 >Economía al servicio de las personas</h2> -->
        <!-- <span style="color:#fff;font-size:15px">Te puedes montar una galería de imagenes, subir tus productos y comunicarte en un gran foro central...</span> -->
      <!-- </div> -->
  </div>
    </div>
    <div class="col-md-5" style="padding-right:40px;display:flex;justify-content:center;align-items:center">

      <div class="card bg-light" style="width:100%">
        <!-- <img class="card-img-top" src="assets/a02.png" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Presentamos nuestro sistema de envios</h5>
          <p class="card-text">Un poco extraño pero vale la pena conocerlo, y te lo comprobamos dandote 3 envios gratuitios como bono de inicio</p>

          <a class="btn btn-primary text-white">Crea tu cuenta</a>
        </div>
      </div>


      <!-- <div class="bg-secundary text-white chat" style="border-radius:50%;width:150px;height:150px;display:flex;justify-content:center;align-items:center">
        <div style="display:flex;justify-content:center">
          <div style="align-items: flex-start;height:80px;display:flex;flex-direction:column;justify-content:space-around">
            <div style="height:30px;background:white;width:24px">
            </div>
            <div style="height:30px;background:white;width:24px">
            </div>
          </div>

          <div  style="height:80px;display:flex;flex-direction:column;justify-content:space-around">
            <div style="margin-left: 0px;height:10px;background:white;width:24px">
            </div>
            <div style="margin-left: 0px;height:30px;background:white;width:24px">
            </div>
            <div style="margin-left: 0px;height:10px;background:white;width:24px">
            </div>
          </div>
        </div>
      </div> -->






    </div>

</div>


<!-- background:#2D2F3E -->
<!-- background:#151E27 -->

<div class="row " style="">

<div class="col-md-1">

</div>


<!-- <div class="col-md-2 bg-light text-dark" style="width: 210px;padding-bottom: 50px;background:#2D2F3E;border-right:1px solid #bbb">
  <ul class="" style=";width:210px;margin-top:50px">
    <li>
      <span style="margin-left:20px"> <h4>OPCIONES</h4> </span>
    </li>
    <li>
      <a (click)="toggleBusqueda()">
      <span style="font-size:18px">Market</span></a>
    </li>
    <li>
      <a (click)="toggleBusqueda()" style="display:flex;justify-content:flex-start;align-items:center;">
      <span style="font-size:18px;">Tablero</span></a>
    </li>
    <li>
      <a (click)="toggleBusqueda()">
      <span style="font-size:18px;padding-right:15px">Pipes</span></a>
    </li>
    <li>
      <a (click)="toggleBusqueda()">
      <span style="font-size:18px;padding-right:15px">Bots</span></a>
    </li>
  </ul>
</div> -->



<div class="col-md-10" style="padding-top:30px;display:flex;justify-content:space-around;flex-wrap: wrap;">

<!-- <div class="text-dark" style="margin-bottom:30px;margin-bottom:60px;width:100%;height:100px;text-align:left">
  <h3>  Un sistema de ecommerce Nativo</h3>
  <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>

</div> -->
  <!-- <div style="width:100%;display:flex;justify-content:center">
    <div class="r-b-l"style="color:#333;background:#bbb;border-radius:5px;height:200px">
      <h5 style="font-weight:300" >Hola, Joopiter el un pequeño mundo que tiene todo lo que los demas tienen,
        vende con nosotros</h5>
      <div style="width:100%;text-align:center">
        <span style="font-size:50px;margin-top:50px;color:#333">A</span>
      </div>
    </div>
  </div> -->


  <div *ngIf="showBusqueda" class="bg-dark text-white"style="width: 100%;font-weight: 300;margin-top: 10px;margin-bottom: 10px;font-size: 20px;height:80px;display:flex;justify-content:space-around;align-items:center">
    <a>Más recientes</a>
    <a>Más vendidos</a>
    <a>Más me gustas</a>
    <a>Nuevas variedades</a>
  </div>

  <router-outlet></router-outlet>
</div>
<!-- background:#2D2F3E -->
<div class="col-md-1 left" style="">
</div>
</div>



<a routerLink="{{Tog}}" (click)="toggle()">
<div class="bg-danger text-white chat" style="border-radius:50%;margin-top:-40px;width:70px;height:70px;display:flex;justify-content:center;align-items:center">
  <div style="display:flex;justify-content:center">
    <div style="align-items: flex-start;height:40px;display:flex;flex-direction:column;justify-content:space-around">
      <div style="height:15px;background:white;width:12px">
      </div>
      <div style="height:15px;background:white;width:12px">
      </div>
    </div>

    <div  style="height:40px;display:flex;flex-direction:column;justify-content:space-around">
      <div style="margin-left: 0px;height:5px;background:white;width:12px">
      </div>
      <div style="margin-left: 0px;height:15px;background:white;width:12px">
      </div>
      <div style="margin-left: 0px;height:5px;background:white;width:12px">
      </div>
    </div>

  </div>
</div>
</a>






<!-- <ul style="width:210px;margin-top:50px">
  <li>
    <a (click)="toggleBusqueda()">
    <i class="fas fa-sort-amount-up" style="color:#bbb;font-size:22px"></i>
    <span style="margin-left:10px;font-size:18px">Ordenar por</span></a>
  </li>
  <li>
    <a (click)="toggleBusqueda()" style="display:flex;justify-content:flex-start;align-items:center;">
      <div style="display:flex;justify-content:center">
        <div style="align-items: flex-start;height:30px;display:flex;flex-direction:column;justify-content:space-around">
          <div style=";height:10px;background:#bbb;width:8px">
          </div>
          <div style=";height:10px;background:#bbb;width:8px">
          </div>
        </div>
        <div  style="height:30px;display:flex;flex-direction:column;justify-content:space-around">
          <div style="margin-left: 3px;height:3px;background:#bbb;width:8px">
          </div>
          <div style="margin-left: 3px;height:9px;background:#bbb;width:8px">
          </div>
          <div style="margin-left: 3px;height:3px;background:#bbb;width:8px">
          </div>
        </div>
      </div>
    <span style="font-size:18px;">Tablero</span></a>
  </li>
  <li>
    <a (click)="toggleBusqueda()">
    <img src="assets/pipes.svg" style="width:26px" alt="">
    <span style="font-size:20px;padding-right:15px">Pipes</span></a>
  </li>
  <li>
    <a (click)="toggleBusqueda()">
    <i class="fas fa-sort-amount-up" style="color:#bbb;font-size:22px"></i>
    <span style="font-size:20px;padding-right:15px">Bots</span></a>
  </li>
</ul> -->
