<div class="row" style="background:#fff;">

  <div class="col-md-6 offset-md-4 " style="padding:20px">
    <h3 class="text-muted">Hola busco pantalones de color salmon, dejar fotos plz</h3>
  </div>
  <!-- <div class="col-md-9 offset-md-1">
    <img src="assets/esto01.png" width="100px"alt="">
    <span>Hola <span class="text-primary">$4500</span> </span> <br>
    <img src="assets/04.jpg" width="300px;">
  </div> -->
  <div class="col-md-6 offset-md-4" style="background:#FBFAF9">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/03.jpg" style="width:80px;border-radius:3px" alt="">
      </div>
      <div class="col-md-8">
        <div class="" style="display:flex;justify-content:flex-start;align-items:center">
          <div style="width:10px;height:10px;border-radius:50%;background:#7CBA00;margin-right:5px">
          </div>
          <span style="color:#545250;font-size:16px;font-weight:700;">ByRaz</span>
        </div>
        <div class="" style="width:100%; display:flex;justify-content:flex-start;flex-wrap:wrap;align-items:center">
          <img src="assets/10.jpg" style="width:200px;margin-left:10px" alt="">
          <img src="assets/11.jpg" style="width:200px;margin-left:10px" alt="">
          <img src="assets/12.jpg" style="width:200px;margin-left:10px" alt="">
          <img src="assets/10.jpg" style="width:200px;margin-left:10px" alt="">
        </div>
      </div>
    </div>
  </div>






</div>
