




  <div class="row">
    <div class="col-md-3 text-muted" style="padding-left:40px;padding-top:50px;border-right:1px solid #bbb">
      <h4 style="padding-left: 10px;width:100%">Pipes</h4>
      <div class="row">
        <div class="col-md-8">
          <ul>
            <li>A <span class="text-success" style="font-weight:500">5LUCAS</span> <img src="assets/rocket.png" style="width:30px"><i style="color:gold;font-size:18px"class="fas fa-hand-peace"></i></li>
            <li>Mochileros</li>
            <li>Nieve</li>
          </ul>
        </div>
        <div class="col-md-4 text-dark" style="color:coral">
          <ul>
            <li><i class="fas fa-toggle-off"></i></li>
            <li><i class="fas fa-toggle-on"></i></li>
            <li><i class="fas fa-toggle-on"></i></li>
          </ul>
        </div>
      </div>
      <hr>
      <h4 style="padding-left: 10px;width:100%">Bots</h4>
      <div class="col-md-8">
        <ul>
          <li>@$</li>
          <li>@Vendor</li>
          <li>@OoO</li>
        </ul>
      </div>
      <hr>


    </div>
    <div class="col-md-6 bg-light" style="display:flex;justify-content:center;flex-wrap:wrap">



      <div class="bg-white"style="justify-content:space-around;display:flex;width:100%;align-items:center;border:1px solid #bbb;margin-top:50px;border-radius:10px;">
        <div style="border-right:1px solid #bbb;height:100%;display:flex;align-items:center;justify-content:center">
          <i class="fas fa-user-circle" style="color:#bbb;font-size:40px;padding-right:10px"></i>
        </div>
        <div class="" style="width:400px">
          <textarea  class='autoExpand' rows='1' data-min-rows='1' style="font-size:20px"placeholder='Comenzar...'></textarea>
        </div>
        <div style="display:flex;flex-wrap:wrap;justify-content:center;width:50px">
          <span class="text-muted"><a> <i style="color:orange;width:20px;height:20px;font-size:20px" class="fas fa-camera"></i></a></span>
        </div>
      </div>
      <!-- <hr style="padding:0px;margin:0px"> -->

  <!-- ----------------- -->
  <div style="display:flex;justify-content:center;flex-wrap:wrap">



  <!-- <div class="message-item" id="m16">
    <div class="message-inner">
      <div class="user">
        <i class="fas fa-user-circle avatar"></i>
        Maria Soledad estafan
      </div>
      <h5>Hola ando buscando algo como esto</h5>
      <div class="box">
        <a><img class="fots" src="assets/01.jpg" alt=""></a>
      </div>
    </div>
  </div> -->
  <!-- -------primeroo---- -->
  <div class="card text-muted" style="width:100%;margin-top:50px">

  <div class="user" style="padding:10px">
    <div class="userinner">
      <i class="fas fa-user-circle avatar"></i>
      <span class="text-primary" style="font-weight: 450;margin-left:5px">Maria Soledad estaaa</span>
    </div>
    <a class="dropdown-toggle" data-toggle="dropdown"  aria-expanded="false">
      <i class="fas fa-ellipsis-h"></i>
    </a>

    <div class="dropdown-menu">
      <a class="dropdown-item" >Crear grupo</a>
       <a class="dropdown-item" >Guardar </a>
       <a class="dropdown-item" >Nodo </a>
       <div class="dropdown-divider"></div>
       <a class="dropdown-item" >Ver pipe</a>
     </div>
  </div>

  <span style="font-size:20px;padding-left:20px">ando buscando un sweater algo como esto</span>

  <div class="box">
    <a><img class="card-img-top" style="width:300px" src="assets/06.jpg" alt=""></a>
  </div>
  <!-- <hr style="padding:0px;margin:0px"> -->
  <div style="width:100%;margin-top:10px;display:flex;justify-content:center;align-items:center">
    <div style="width:100px;text-align:center">
  <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Responder</a>
      <!-- <button class="btn btn-light" style="width:50%"> <h6>Responder</h6> </button>
      <button class="btn btn-light" style="width:50%"> <h6>Responder</h6> </button> -->

    </div>
  </div>



  <div class="">
    <div style="display:flex;align-items:center">
      <i class="fas fa-user-circle avatar"></i>
      <span class="text-dark" style="font-weight: 450;margin-left:5px">Ferh ASD</span>
    </div>
    <div style="width:100%;padding:20px">
      alomejor esto te interesa, lo rebaje a
      <span class="text-primary">@$4000</span>...!!!!
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card text-white" style="margin-left: 50px;border:0px">
        <img class="card-img" src="assets/15.jpg" style="width:150px;border-radius:5px">
        <div class="card-img-overlay">
          <h5 style="font-family: 'Gugi', cursive;" class="card-title">$5000</h5>
        </div>
        </div>
      </div>
      <div class="col-md-6" style="border-left:1px solid #bbb">
        <div style="">
          <div style="display:flex;align-items:center">
            <i class="fas fa-user-circle avatar"></i>
            <span class="text-muted" style="font-weight: 450;margin-left:5px">Danniela</span>
            <span style="padding-left:30px">hola tienes en verde?</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <i class="fas fa-caret-right"></i>
            <span class="text-muted" style="font-weight: 450;margin-left:5px">Ferh ASD</span>
          </div>
          <div class="col-md-4">
            <img class="card-img" src="assets/16.jpg" style="width:100%;border-radius:5px">
          </div>
          <div class="col-md-8">
            <span>Si mira, esta pieza</span><br>
            <span>Valor <span class="text-primary">@$7800</span></span>
          </div>
          <div *ngIf="!showComentarios" class="col-md-12" style="text-align:left;font-size:14px">
            <a (click)="showComentarios=true" >Comentarios (+2)</a>
          </div>
          <div class="col-md-12">
            <div class="row" *ngIf="showComentarios">
              <!-- Uno -->
              <div style="padding-left:10px;padding-top:5px">
                <div style="display:flex;align-items:center">
                  <i class="fas fa-user-circle avatar"></i>
                  <span class="text-muted" style="font-weight: 450;margin-left:5px">oiSA</span>
                  <span style="padding-left:30px">hola tienes en verde?</span>
                </div>
              </div>
              <div class="col-md-12">
                <i class="fas fa-caret-right"></i>
                <span class="text-muted" style="font-weight: 450;margin-left:5px">Ferh ASD</span>
              </div>
              <div class="col-md-4">
                <img class="card-img" src="assets/17.jpg" style="width:100%;border-radius:5px">
              </div>
              <div class="col-md-8">
                <span>Si mira, esta pieza</span><br>
                <span>Valor <span class="text-primary">@$7800</span></span>
              </div>
              <!-- Dos -->
              <div style="padding-left:10px;padding-top:5px">
                <div style="display:flex;align-items:center">
                  <i class="fas fa-user-circle avatar"></i>
                  <span class="text-muted" style="font-weight: 450;margin-left:5px">Esteban</span>
                  <span style="padding-left:30px">hola tienes en verde?</span>
                </div>
              </div>
              <div class="col-md-12">
                <i class="fas fa-caret-right"></i>
                <span class="text-muted" style="font-weight: 450;margin-left:5px">Ferh ASD</span>
              </div>
              <div class="col-md-4">
                <img class="card-img" src="assets/19.jpg" style="width:100%;border-radius:5px">
              </div>
              <div class="col-md-8">
                <span>Si mira, esta pieza</span><br>
                <span>Valor <span class="text-primary">@$7800</span></span>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div style="text-align:right;padding:10px;">
      <a (click)="showRespuesta=true" class="text-info" >Responder</a>
      (23)
      <i class="far fa-thumbs-up text-info"></i>
    </div>
    <div *ngIf="showRespuesta" style="border-radius:10px;padding-left:40px;padding-bottom:15px">
      <span class="text-primary">Ferh <i class="fas fa-caret-right"></i></span>  Escribir respuesta
    </div>
    <hr style="padding:10px;margin:0px">
  </div>




  <div class="">
    <div style="display:flex;align-items:center">
      <i class="fas fa-user-circle avatar"></i>
      <span class="text-dark" style="font-weight: 450;margin-left:5px">Ferh ASD</span>
    </div>
    <div style="width:100%;padding:20px">
      Estos aros van perfecto con ese outfit! valor <span class="text-primary">@$3000</span>...!!!!
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card text-white" style="margin-left: 50px;border:0px">
        <img class="card-img" src="assets/10.jpg" style="width:150px;border-radius:5px">

        </div>
      </div>
      <div class="col-md-6" style="border-left:1px solid #bbb">
        <div style="">
          <div style="display:flex;align-items:center">
            <i class="fas fa-user-circle avatar"></i>
            <span class="text-muted" style="font-weight: 450;margin-left:5px">Danniela</span>
            <span style="padding-left:30px">
              hola tienes otro modelo?</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <i class="fas fa-caret-right"></i>
            <span class="text-muted" style="font-weight: 450;margin-left:5px">Ferh ASD</span>
          </div>
          <div class="col-md-4">
            <img class="card-img" src="assets/14.jpg" style="width:100%;border-radius:5px">
          </div>
          <div class="col-md-8">
            <span>Aca va otro,</span><br>
            <span><span class="text-primary">@$4000</span></span>,
            reparto a todo chile, son made-hands
            <i style="color:gold;font-size:18px"class="fas fa-hand-point-left"></i>
          </div>
          <div class="col-md-12" style="text-align:left;font-size:14px">
            <a>Comentarios (+2)</a>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align:right;padding:10px;">
      <a class="text-info" >Responder</a>
      (102)
      <i class="far fa-thumbs-up text-info"></i>
    </div>
    <hr style="padding:0px;margin:0px">
  </div>
  </div>


  <!-- -------Segundo---- -->

  <div class="card text-muted" style="width:100%;margin-top:50px">

  <div class="user" style="padding:10px">
    <div class="userinner">
      <i class="fas fa-user-circle avatar"></i>
      <span class="text-primary" style="font-weight: 450;margin-left:5px">Maria Soledad estaaa</span>
    </div>
    <a class="dropdown-toggle" data-toggle="dropdown"  aria-expanded="false">
      <i class="fas fa-ellipsis-h"></i>
    </a>

    <div class="dropdown-menu">
      <a class="dropdown-item" >Crear grupo</a>
       <a class="dropdown-item" >Guardar </a>
       <a class="dropdown-item" >Nodo </a>
       <div class="dropdown-divider"></div>
       <a class="dropdown-item" >Anclar</a>
     </div>
  </div>

  <span style="font-size:20px;padding-left:20px">ando buscando un jugete algo como esto</span>

  <!-- <div class="box">
    <a><img class="card-img-top" style="width:300px" src="assets/17.jpg" alt=""></a>
  </div> -->
  <!-- <hr style="padding:0px;margin:0px"> -->
  <div style="width:100%;margin-top:10px;display:flex;justify-content:center;align-items:center">
    <div style="width:100px;text-align:center">
  <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Responder</a>
      <!-- <button class="btn btn-light" style="width:50%"> <h6>Responder</h6> </button>
      <button class="btn btn-light" style="width:50%"> <h6>Responder</h6> </button> -->

    </div>
  </div>



  <div class="">
    <div style="display:flex;align-items:center">
      <i class="fas fa-user-circle avatar"></i>
      <span class="text-dark" style="font-weight: 450;margin-left:5px">Ferh ASD</span>
    </div>
    <div style="width:100%;padding:20px">
      alomejor esto te interesa, lo rebaje a $4000...!!!!
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card text-white" style="margin-left: 50px;border:0px">
        <img class="card-img" src="assets/20.jpg" style="width:150px;border-radius:5px">
        <div class="card-img-overlay">
          <h5 style="font-family: 'Gugi', cursive;" class="card-title">$5000</h5>
        </div>
        </div>
      </div>
      <div class="col-md-6" style="border-left:1px solid #bbb">
        <div style="">
          <div style="display:flex;align-items:center">
            <i class="fas fa-user-circle avatar"></i>
            <span class="text-muted" style="font-weight: 450;margin-left:5px">Danniela</span>
            <span style="padding-left:30px">hola tienes en verde?</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <i class="fas fa-caret-right"></i>
            <span class="text-muted" style="font-weight: 450;margin-left:5px">Ferh ASD</span>
          </div>
          <div class="col-md-4">
            <img class="card-img" src="assets/11.jpg" style="width:100%;border-radius:5px">
          </div>
          <div class="col-md-8">
            <span>Si mira, esta pieza</span><br>
            <span>Valor $7800</span>
          </div>
          <div class="col-md-12" style="text-align:left;font-size:14px">
            <a>Comentarios (+2)</a>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align:right;padding:10px;">
      <a class="text-info" >Responder</a>
      (23)
      <i class="far fa-thumbs-up text-info"></i>
    </div>

    <hr style="padding:0px;margin:0px">
  </div>




  <div class="">
    <div style="display:flex;align-items:center">
      <i class="fas fa-user-circle avatar"></i>
      <span class="text-dark" style="font-weight: 450;margin-left:5px">Ferh ASD</span>
    </div>
    <div style="width:100%;padding:20px">
      alomejor esto te interesa, lo rebaje a $4000...!!!!
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card text-white" style="margin-left: 50px;border:0px">
        <img class="card-img" src="assets/10.jpg" style="width:150px;border-radius:5px">

        </div>
      </div>
      <div class="col-md-6" style="border-left:1px solid #bbb">
        <div style="">
          <div style="display:flex;align-items:center">
            <i class="fas fa-user-circle avatar"></i>
            <span class="text-muted" style="font-weight: 450;margin-left:5px">Danniela</span>
            <span style="padding-left:30px">hola tienes en verde?</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <i class="fas fa-caret-right"></i>
            <span class="text-muted" style="font-weight: 450;margin-left:5px">Ferh ASD</span>
          </div>
          <div class="col-md-4">
            <img class="card-img" src="assets/14.jpg" style="width:100%;border-radius:5px">
          </div>
          <div class="col-md-8">
            <span>Si mira, esta pieza</span><br>
            <span>Valor $7800</span>
          </div>
          <div class="col-md-12" style="text-align:left;font-size:14px">
            <a>Comentarios (+2)</a>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align:right;padding:10px;">
      <a class="text-info" >Responder</a>
      (102)
      <i class="far fa-thumbs-up text-info"></i>
    </div>
    <hr style="padding:0px;margin:0px">
  </div>
  </div>

  <!-- -------Cuarto---- -->
  <div class="card" style="margin-top:50px;width:100%">
    <div class="user" style="padding:10px">
      <div class="userinner">
        <i class="fas fa-user-circle avatar"></i>
        <span class="text-primary" style="font-weight: 450;margin-left:5px">Maria Soledad estaaa</span>
      </div>
      <a class="dropdown-toggle" data-toggle="dropdown"  aria-expanded="false">
        <i class="fas fa-ellipsis-h"></i>
      </a>

      <div class="dropdown-menu">
        <a class="dropdown-item" >Crear grupo</a>
         <a class="dropdown-item" >Guardar </a>
         <a class="dropdown-item" >Nodo </a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" >Anclar</a>
       </div>
    </div>

    <span style="font-size:20px;padding-left:20px">ando buscando un jugete algo como esto</span>

    <!-- <div class="box">
      <a><img class="card-img-top" style="width:300px" src="assets/17.jpg" alt=""></a>
    </div> -->
    <!-- <hr style="padding:0px;margin:0px"> -->
    <div style="width:100%;margin-top:10px;display:flex;justify-content:center;align-items:center">
      <div style="width:100px;text-align:center">
    <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Responder</a>
        <!-- <button class="btn btn-light" style="width:50%"> <h6>Responder</h6> </button>
        <button class="btn btn-light" style="width:50%"> <h6>Responder</h6> </button> -->
      </div>
    </div>


  <!-- <div class="text-muted "style="width:100%;border-top:1px solid #bbb;border-bottom:1px solid #bbb;display:flex;justify-content:space-around">
    Me gusta
  </div> -->
  <hr>
  <div class="  text-muted" style="display:flex;flex-wrap:wrap;align-items:center">
  <span style="width:100%;padding:20px;display:flex;align-items:center">
    <i style="margin-right:10px" class="fas fa-user-circle avatar"></i>
    Hola alomejor esto te interesa, esta a $5000
  </span>
  <img src="assets/09.jpg" style="width:200px;margin-left:100px"alt="">
  <div style="text-align:right;padding:10px;width:100%">
    <a class="text-info" style="margin-right:30px" >Comentar</a>
  </div>
  <hr>
  <div class="  text-muted" style="display:flex;flex-wrap:wrap;align-items:center">
    <span style="width:100%;padding:20px;display:flex;align-items:center">
      <i style="margin-right:10px" class="fas fa-user-circle avatar"></i>
      Hola alomejor esto te interesa, esta a $5000
    </span>
    <img src="assets/09.jpg" style="width:200px;margin-left:100px"alt="">
    <div style="text-align:right;padding:10px;width:100%">
      <a class="text-info" style="margin-right:30px" >Comentar</a>
    </div>
    <hr>
    <div class="  text-muted" style="display:flex;flex-wrap:wrap;align-items:center">
      <span style="width:100%;padding:20px;display:flex;align-items:center">
        <i style="margin-right:10px" class="fas fa-user-circle avatar"></i>
        Hola alomejor esto te interesa, esta a $5000
      </span>
      <img src="assets/09.jpg" style="width:200px;margin-left:100px"alt="">
      <div style="padding:10px;width:100%;display:flex;justify-content:space-around;align-items:center">
        <div style="border:1px solid #bbb;border-radius:10px;height:30px;width:300px">

        </div>
        <a class="text-info" style="margin-right:30px" >Comentar</a>
      </div>
    </div>
  </div>
  </div>


</div>



</div>








    </div>

    <div class="col-md-3 " style=";border-left:1px solid #bbb;display:flex;justify-content:center;flex-wrap:wrap">

      <a id="button" style="height:40px;width:300px; background:#1d3858">
        <div class="hola"style="background:#1d3858;display:flex;justify-content:space-around;align-items:center">
          <span style="font-size:19px">Envios en 1-Click </span>
          <i style="color: orange;margin-left: 10px;font-size:30px"class="fas fa-caret-right"></i>
        </div>
      </a>
</div>
<!-- <a style="height:40px;margin-top: 50px;">
<div style="width:100%;display:flex;justify-content:center;">
  <button type="button" class=" " style="border:3px solid gold;color:#bbb;background: #212E3E;border-radius:20px" disabled>
    <div style="display:flex;justify-content:space-around;align-items:center">
      <span style="font-size: 18px;font-weight:500">Envios en 1-Click </span><i style="margin-left: 10px;font-size:36px" class="fas fa-play-circle"></i>
    </div>
  </button>
</div>
</a> -->
<!-- background:#ee6e73 -->

      <!-- <div class="message-item" id="m16" style="width:250px">
        <div class="message-inner bg-light text-muted">
          <h5>Conoce nuestro sistema de envios!</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt tempor...</p>
        </div>
      </div>
    </div> -->

    <!-- <div class="box2 text-white bg-dark">

      <div class="collapse" id="collapseExample">
        <ul>
          <li><a style="color:white;width:100%"><i class="fas fa-comments"></i> Chat</a></li>
          <li><a style="color:white;width:100%"><i class="fas fa-shopping-cart"></i> Cesta</a></li>
          <li><a style="color:white;width:100%" ><i class="fab fa-buromobelexperte"></i> Tienda</a></li>
        </ul>
      </div>
    </div>
    <button class="btn btn-danger chat" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Menu</button> -->


    <!-- <button class="btn btn-danger chat" style="background:#FF0066">M</button> -->
    <a>
    <div class="bg-danger text-white chat" style="border-radius:50%;margin-top:-40px;width:70px;height:70px;display:flex;justify-content:center;align-items:center">
      <div style="display:flex;justify-content:center">
        <div style="align-items: flex-start;height:40px;display:flex;flex-direction:column;justify-content:space-around">
          <div style="height:15px;background:white;width:12px">
          </div>
          <div style="height:15px;background:white;width:12px">
          </div>
        </div>
        <div  style="height:40px;display:flex;flex-direction:column;justify-content:space-around">
          <div style="margin-left: 0px;height:5px;background:white;width:12px">
          </div>
          <div style="margin-left: 0px;height:15px;background:white;width:12px">
          </div>
          <div style="margin-left: 0px;height:5px;background:white;width:12px">
          </div>
        </div>
      </div>
    </div>
    </a>

  </div>
