<div class="row bottom" style="padding:15px;background:#29303B;margin-top:20px">
  <div class="col-md-5" style="">
    <div class="text-white"style="width:100%">
      <span style="font-size:36px;font-weight:450;">Una red de compras en tu ciudad conectada</span><br>
      <span style=";margin:0px;margin:0px;color:white;font-size:21px;">
        Nuevo muro de publicaciones con más herramientas y más arbitradas... Añadiendo valor-agregado!</span><br>
      <span style="margin:0px;margin:0px;color:white;font-size:15px;">Sube lo que vendes y ocupa métodos de pago, métodos de envios, monta galerías y preparate para lanzar nuevos productos de venta!  </span>

      <br>
      <span class="badge badge-dark"><i class="fas fa-rocket" style="font-size:20px"></i></span>
      <span class="badge badge-dark"><i class="fas fa-rocket" style="font-size:20px"></i></span>
      <span class="badge badge-dark"><i class="fas fa-rocket" style="font-size:20px"></i></span>

      <!-- <span style="color:#fff;font-size:15px">Te puedes montar una galería de imagenes, subir fotos de lo que vendes y comunicarte entre un foro central en una ciudad conectada...</span> -->
<!-- ------------- -->
<!-- <span style="font-size:36px;font-weight:600;">Una página de compras en tu ciudad</span><br>
<span style=";margin:0px;margin:0px;color:white;font-size:21px;">Joopiter es un pequeño mundo que tiene todo lo que los demas tienen</span><br>
<span style="margin:0px;margin:0px;color:white;font-size:15px;">Posee un método de pago, un sistema de envios, un foro central, un sistema de logros y recompensas para subir la demanda!</span>
<br>
<span class="badge badge-danger">info</span>

<span style="color:#fff;font-size:15px">Te puedes montar una galería de imagenes, subir fotos de lo que vendes y comunicarte entre un foro central en una ciudad conectada...</span> -->



      <!-- <div style="margin-top:30px;width:100%;text-align:center;display:flex;justify-content:space-around">
          </div> -->
      <!-- <div style="padding-left:40px;margin-top:20px;;padding:10px;border-radius:10px"> -->
        <!-- <h2 class="" style="font-weight:400;">Nunca ha sido más facil comprar</h2> -->
        <!-- <h3 class="" style="">Nunca ha sido más facil comprar</h3> -->

        <!-- <span class="badge badge-danger">info</span> -->
        <!-- <h2 >Conecta con los demás</h2> -->
        <!-- <h2 >Conecta con los demás</h2> -->

        <!-- <h2 >Economía al servicio de las personas</h2> -->
        <!-- <span style="color:#fff;font-size:15px">Te puedes montar una galería de imagenes, subir tus productos y comunicarte en un gran foro central...</span> -->
      <!-- </div> -->
  </div>
    </div>

    <div class="col-md-7" style="display:flex;justify-content:center;align-items:center">
      <router-outlet></router-outlet>
    </div>

      <!-- <div class="bg-secundary text-white chat" style="border-radius:50%;width:150px;height:150px;display:flex;justify-content:center;align-items:center">
        <div style="display:flex;justify-content:center">
          <div style="align-items: flex-start;height:80px;display:flex;flex-direction:column;justify-content:space-around">
            <div style="height:30px;background:white;width:24px">
            </div>
            <div style="height:30px;background:white;width:24px">
            </div>
          </div>

          <div  style="height:80px;display:flex;flex-direction:column;justify-content:space-around">
            <div style="margin-left: 0px;height:10px;background:white;width:24px">
            </div>
            <div style="margin-left: 0px;height:30px;background:white;width:24px">
            </div>
            <div style="margin-left: 0px;height:10px;background:white;width:24px">
            </div>
          </div>
        </div>
      </div> -->








</div>
