





<div class="row">
<div class="col-md-12" style="margin-left:-300px">

<h3 style="width: 100%;margin:20px;color:#505763;">Top "<span style="color:#003845;">Tendencia</span>"</h3>

<div style="display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;width:1000px">
<i style="color:#bbb;font-size:50px"class="fas fa-chevron-left"></i>

<div style="display:flex;flex-wrap:wrap;justify-content:space-between;width:900px">
  <div class="card" style="width: 200px;height:330px">
    <!-- <h5>Example heading <span class="badge badge-secondary">New</span></h5> -->

    <h5>TopRunning</h5><h5 > <span  class="badge badge-secondary">New</span></h5>

    <a routerLink="vendedor" style="padding:0px"><img class="card-img-top" src="assets/zapatillas2.jpg" style="width:130px"></a>

    <div class="card-body">
      <p class="card-text">Diseñadas para unir estilo y performance</p>
    </div>
    <div style="display:flex;flex-wrap:wrap;margin-bottom:0px;">
      <div style="width:50%;"></div>
      403
      <div style="width:5%"></div>
      <span class="text-danger"><i class="fas fa-heart"></i></span>
    </div>
  </div>

  <div class="card" style="width: 200px;height:330px">
    <h5>Ambient</h5><h5 > <span  class="badge badge-secondary">20% Off</span></h5>
    <img class="card-img-top" src="assets/bolsos2.jpg" style="width:130px">
    <div class="card-body">
      <p class="card-text">Cambiará tu experiencia de salir de compras</p>
    </div>
    <div style="display:flex;flex-wrap:wrap">
      <div style="width:50%"></div>
      234
      <div style="width:5%"></div>
      <span class="text-danger"><i class="fas fa-heart"></i></span>
    </div>
  </div>

  <div class="card" style="width: 200px;height:330px">
    <h5>Moda auriculares</h5>
    <img class="card-img-top" src="assets/auriculares3.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Los auriculares diseñados por la comunidad ya están a la venta</p>
    </div>
    <div style="display:flex;flex-wrap:wrap">
      <div style="width:50%"></div>
      327
      <div style="width:5%"></div>
      <span class="text-danger"><i class="fas fa-heart"></i></span>
    </div>
  </div>

  <div class="card" style="width: 200px;height:330px">
    <h5>EcoLeña</h5><h5 > <span  class="badge badge-secondary">Progressive</span></h5>
    <img class="card-img-top" src="assets/leña.jpg" style="width:130px">
    <div class="card-body">
      <p class="card-text">Leña Nativa y eucaliptus a su hogar</p>
    </div>
    <div style="display:flex;flex-wrap:wrap">
      <div style="width:50%"></div>
      203
      <div style="width:5%"></div>
      <span class="text-danger"><i class="fas fa-heart"></i></span>
    </div>
  </div>
</div>
<i style="color:#bbb;font-size:50px"class="fas fa-chevron-right"></i>

</div>

<!-- -SERVICIOS- -->

<h3 style="width: 100%;margin:20px;color:#505763;">Servicios en la "<span style="color:#003845;">ciudad</span>"</h3>


<div style="display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;width:1000px">
<i style="color:#bbb;font-size:50px"class="fas fa-chevron-left"></i>

<div style="display:flex;flex-wrap:wrap;justify-content:space-between;width:900px">
<div class="card" style="width: 200px;height:330px">
  <!-- <h5>Example heading <span class="badge badge-secondary">New</span></h5> -->
  <h5>Daniel</h5>
  <!-- <h5 > <span  class="badge badge-secondary">New</span></h5> -->
  <img class="card-img-top" src="assets/delivery2.jpg" style="width:150px">
  <div class="card-body">
    <p class="card-text">Hola! me dedico a llevar sus...</p>
    <!-- Hola! me dedico a llevar sus productos a la puerta de su hogar -->
  </div>
  <div style="display:flex;flex-wrap:wrap;margin-bottom:0px;">
    <div style="width:50%;"></div>
    303
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>

<div class="card" style="width: 200px;height:330px">
  <h5>Out-of-home</h5><h5 > <span  class="badge badge-secondary">20% Off</span></h5>
  <img class="card-img-top" src="assets/packagin.jpg" style="width:150px">
  <div class="card-body">
    <p class="card-text">En todas nuestras unidades</p>
  </div>
  <div style="display:flex;flex-wrap:wrap">
    <div style="width:50%"></div>
    54
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>

<div class="card" style="width: 200px;height:330px">
  <h5>FotoDrone</h5>
  <img class="card-img-top" src="assets/dron1.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">La representación fiel del terreno en el momento exacto</p>
  </div>
  <div style="display:flex;flex-wrap:wrap">
    <div style="width:50%"></div>
    15
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>

<div class="card" style="width: 200px;height:330px">
  <h5>EcoLeña</h5><h5 > <span  class="badge badge-secondary">Progressive</span></h5>
  <img class="card-img-top" src="assets/leña.jpg" style="width:150px">
  <div class="card-body">
    <p class="card-text">Leña Nativa y eucaliptus a su hogar</p>
  </div>
  <div style="display:flex;flex-wrap:wrap">
    <div style="width:50%"></div>
    203
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>
</div>
<i style="color:#bbb;font-size:50px"class="fas fa-chevron-right"></i>

</div>

<!-- -RONDAN- -->

<h3 style="width: 100%;margin:20px;color:#505763;">Unete a los "<span style="color:#003845;">descuentos promocionales</span>"</h3>

<div style="display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;width:1000px">
<i style="color:#bbb;font-size:50px"class="fas fa-chevron-left"></i>

<div style="display:flex;flex-wrap:wrap;justify-content:space-between;width:900px">
<div class="card" style="width: 180px;height:330px">
  <!-- <h5>Example heading <span class="badge badge-secondary">New</span></h5> -->
  <h5>Progressive</h5><h5 > <span  class="badge badge-secondary">New</span></h5>
  <img class="card-img-top" src="assets/candado.png" style="width:150px">
  <div class="card-body">
    <p class="card-text">Especialmente performance...</p>
  </div>
  <div style="display:flex;flex-wrap:wrap;margin-bottom:0px;">
    <div style="width:50%;"></div>
    403
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>

<div class="card" style="width: 200px;height:330px">
  <h5>Combina!</h5><h5 > <span  class="badge badge-secondary">72 hrs</span></h5>
  <img class="card-img-top" src="assets/plus.jpg" style="width:150px">
  <div class="card-body">
    <p class="card-text">En todas las unidades del negocio</p>
  </div>
  <div style="display:flex;flex-wrap:wrap">
    <div style="width:50%"></div>
    234
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>

<div class="card" style="width: 200px;height:330px">
  <h5>PackOferta</h5>
  <img class="card-img-top" src="assets/oferta1.png" style="width:150px">
  <div class="card-body">
    <p class="card-text">PackOferta todas las semanas, promocions de fin de mes!</p>
  </div>
  <div style="display:flex;flex-wrap:wrap">
    <div style="width:50%"></div>
    327
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>

<div class="card" style="width: 200px;height:330px">
  <h5>Mega</h5><h5 > <span  class="badge badge-secondary">Progressive</span></h5>
  <img class="card-img-top" src="assets/oferta2.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Leña Nativa y eucaliptus a su hogar</p>
  </div>
  <div style="display:flex;flex-wrap:wrap">
    <div style="width:50%"></div>
    203
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>
</div>
<i style="color:#bbb;font-size:50px"class="fas fa-chevron-right"></i>

</div>

<!-- -otroooo- -->

<h3 style="width: 100%;margin:20px;color:#505763;">Muy pronto  "<span style="color:#003845;">increibles variedades</span>"</h3>

<div style="display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;width:900px">
<i style="color:#bbb;font-size:50px"class="fas fa-chevron-left"></i>

<div style="display:flex;flex-wrap:wrap;justify-content:space-between;width:800px">
<div class="card" style="width: 180px;height:330px">
  <!-- <h5>Example heading <span class="badge badge-secondary">New</span></h5> -->
  <h5>ZapRunning</h5><h5 > <span  class="badge badge-secondary">New</span></h5>
  <img class="card-img-top" src="assets/sweater2.jpg" style="width:130px">
  <div class="card-body">
    <p class="card-text">Especialmente diseñadas para unir estilo</p>
  </div>
  <div style="display:flex;flex-wrap:wrap;margin-bottom:0px;">
    <div style="width:50%;"></div>
    32
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>

<div class="card" style="width: 180px;height:330px">
  <h5>Ambient</h5><h5 > <span  class="badge badge-secondary">20% Off</span></h5>
  <img class="card-img-top" src="assets/zapatillas3.jpg" style="width:150px">
  <div class="card-body">
    <p class="card-text">En todas las unidades</p>
  </div>
  <div style="display:flex;flex-wrap:wrap">
    <div style="width:50%"></div>
    334
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>

<div class="card" style="width: 180px;height:330px">
  <h5>Moda auriculares</h5>
  <img class="card-img-top" src="assets/cel1.png" style="width:150px">
  <div class="card-body">
    <p class="card-text">Crossfade M-100, los auriculares diseñados </p>
  </div>
  <div style="display:flex;flex-wrap:wrap">
    <div style="width:50%"></div>
    27
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>

<div class="card" style="width: 180px;height:330px">
  <h5>EcoLeña</h5><h5 > <span  class="badge badge-secondary">Progressive</span></h5>
  <img class="card-img-top" src="assets/bolsos2.jpg" style="width:150px">
  <div class="card-body">
    <p class="card-text">Leña Nativa y eucaliptus a su hogar</p>
  </div>
  <div style="display:flex;flex-wrap:wrap">
    <div style="width:50%"></div>
    15
    <div style="width:5%"></div>
    <span class="text-danger"><i class="fas fa-heart"></i></span>
  </div>
</div>
</div>
<i style="color:#bbb;font-size:50px"class="fas fa-chevron-right"></i>

</div>


</div> <!-- md -->



</div> <!-- -row- -->
