.toggle{
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  font-size: 18px;
}
.left {
  box-shadow: -5px 0 5px -5px #bbb;
}
.toggle2{
  position: fixed;
  bottom: 150px;
  right: 50px;
  z-index: 1;
  font-size: 18px;
}

ul, li { list-style-type: none;padding:5px}
a {
  color:white;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* margin-top: 10px; */
    /* border-radius: 5px; */
    text-decoration: none;

 }
a:hover {
   color:pink !important;
   text-decoration:none;
   cursor:pointer;
   /* background:grey; */
   opacity: 0.5;
}





ul.tree {
  overflow-x: auto;
  white-space: nowrap;
}
ul.tree,
ul.tree ul {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.tree li {
  display: block;
  width: auto;
  float: left;
  vertical-align: top;
  padding: 0;
  margin: 0;
}
ul.tree ul li {
  background-image: url(data:image/gif;base64,R0lGODdhAQABAIABAAAAAP///ywAAAAAAQABAAACAkQBADs=);
  background-repeat: repeat-x;
  background-position: left top;
}
ul.tree li span {
  display: block;
  width: 5em;
  /*
    uncomment to fix levels
    height: 1.5em;
  */
  margin: 0 auto;
  text-align: center;
  white-space: normal;
  letter-spacing: normal;
}
</style>
<!--[if IE gt 8]> IE 9+ and not IE -->
<style type="text/css">
ul.tree ul li:last-child {
  background-repeat: no-repeat;
  background-size:50% 1px;
  background-position: left top;
}
ul.tree ul li:first-child {
  background-repeat: no-repeat;
  background-size: 50% 1px;
  background-position: right top;
}
ul.tree ul li:first-child:last-child {
  background: none;
}
ul.tree ul li span {
  background: url(data:image/gif;base64,R0lGODdhAQABAIABAAAAAP///ywAAAAAAQABAAACAkQBADs=) no-repeat 50% top;
  background-size: 1px 0.8em;
  padding-top: 1.2em;
}
ul.tree ul {
  background: url(data:image/gif;base64,R0lGODdhAQABAIABAAAAAP///ywAAAAAAQABAAACAkQBADs=) no-repeat 50% top;
  background-size: 1px 0.8em;
  margin-top: 0.2ex;
  padding-top: 0.8em;
}
