<div class="row" style="margin-top:100px">
  <div class="col-md-12 text-center">
    <p>Ingrese a la página con su cuenta favorita</p>

    <button class="btn btn-outline-danger"type="button" name="button"
      (click)="ingresar('google')" >Google</button>

    <button class="btn btn-outline-primary"type="button" name="button" style="margin-left:10px"
      (click)="ingresar('facebook')" >Facebook</button>
  </div>

  <div class="col-md-12 text-center" *ngIf="_ps.usuario.uid">
    <button class="btn btn-outline-danger"type="button" name="button"
      (click)="_ps.logout()" >Salir</button>
  </div>

</div>
