

<div class="row">
  <div class="col-md-6 offset-md-3" style="">
    <div class="col-md-12 text-muted" style="margin-top:20px;margin-bottom:20px;display:flex;justify-content:center">
      <input type="text" name="post" style="padding-left:10px;height:40px;border-radius:10px;min-width:300px;max-width:400px;border:1px solid #ccc;display:flex;align-items:center"
        [(ngModel)]="post"
        (keyup.enter)="enviar_post()"
        placeholder="Comenzar post...">
    </div>
  </div>
</div>

<!-- <div class="row bg-light">
  <div class="col-md-6 offset-md-3" style="">
    <div class="col-md-12 text-muted" style="margin-top:20px;margin-bottom:20px;display:flex;justify-content:center">
      <input type="text" name="post2" style="padding-left:10px;height:40px;border-radius:10px;min-width:300px;max-width:400px;border:1px solid #ccc;display:flex;align-items:center"
        [(ngModel)]="post2"
        (keyup.enter)="enviar_post2()"
        placeholder="Comenzar post...">
    </div>
  </div>
</div> -->
