
<div class="card bg-light" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">Nuestro servicio</h5>
    <p class="card-text">Dos modalidades, puedes conincidir o usar nuestro servicio de envios en tu ciudad, simple y módico </p>
    <i class="fas fa-motorcycle" style="font-size:70px;color:gray"></i>
    <div style="display:flex;justify-content:space-between;align-items:center;width:100%">
      <a class="bg-primary text-white" style="padding:10px;border-radius:5px;">
        Obten tres envios grátis de prueba
      </a>
      <a (click)="navegar()"><i class="fas fa-chevron-circle-left"style="padding-left:10px;font-size:35px;color:#bbb"></i></a>

    </div>
  </div>
</div>
