

<div class="row" style="margin-top:20px;padding-right:5px;padding-left:5px;margin-bottom:20px">

  <div class="col-md-5 offset-md-4" >
    <h5>Activos</h5>
    <div style="display:flex;justify-content:flex-start;;align-items:center;border:1px solid #eee;border-radius:3px;padding:10px">
      <div class="">
        <img src="assets/02.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="" style="position:relative">
        <a (click)="navegar()">
          <img src="assets/03.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%;" alt="">
        </a>
        <div class="text-white bg-info" style="position:absolute;bottom:1px;right:10px;height:18px;width:18px;border-radius:50%;display:flex;justify-content:center;align-items:center">
          <span style="font-size:14px;font-weight:600">3</span>
        </div>
      </div>
      <div class="">
        <img src="assets/04.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/05.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
    </div>

    <h5>Todo</h5>
    <div style="display:flex;justify-content:flex-start;;align-items:center;flex-wrap:wrap;border:1px solid #eee;border-radius:3px;padding:10px">
      <div class="">
        <img src="assets/08.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/03.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/09.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/05.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/06.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/05.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/02.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/04.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/10.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/11.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/12.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/13.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/08.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/03.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/09.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/05.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/06.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/05.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/02.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/04.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/10.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/11.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/12.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/13.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/08.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/03.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/09.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/05.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/06.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/05.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/02.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/04.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/10.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/11.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/12.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
      <div class="">
        <img src="assets/13.jpg" class=""style="margin-right:10px;margin-top:6px;width:60px;height:60px;object-fit:cover;border-radius:50%" alt="">
      </div>
    </div>

  </div>

</div>
